<div
    data-controller="form"
    class="w-full flex justify-center bg-gray-100 min-h-full">
        {{ form_start(form, {
            'attr': {
                'class': 'w-2/4 p-6 mt-6 bg-white shadow-md rounded'
             },
            'action': '#'
           })
        }}
        <div class="relative mb-4">
            <p class="text-2xl text-blue-300">Tell us about your dog</p>
        </div>
        <div class="relative mb-4">
            {{
                form_label(form.name,"What is your dog's name?",{
                    'label_attr': {
                        'class': 'flex items-center mb-2 text-gray-600 text-sm font-medium inline'
                    }
                })
            }}
            {{
                form_widget(form.name, {
                    'attr': {
                        'class': 'block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none',
                        'placeholder': 'Enter pet name...',
                        'required': true
                    }
                })
            }}
        </div>
    <div class="relative mb-4">
        {{ form_label(form.type, 'Select Pet Type', {
            'label_attr': {
                'class': 'flex items-center mb-2 text-gray-600 text-sm font-medium inline'
            }
        }) }}

        {{ form_widget(form.type, {
            'attr': {
                'class': 'block appearance-none w-full border border-gray-200 text-gray-600 text-sm font-medium py-3 px-4 pr-8 h-11 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500',
                'data-action': 'change->form#changeBreedUrl',
                'data-form-target': 'type'
            },
            'placeholder': 'Choose a pet type...'
        }) }}
        {{ form_errors(form.type) }}
    </div>
    <div class="relative mb-4">
        {{
            form_label(form.breed,"What breed are they?", {
                'label_attr': {
                    'class': 'flex items-center mb-2 text-gray-600 text-sm font-medium'
                }
            })
        }}
        {{
            form_widget(form.breed, {
                'attr': {
                    'class': 'block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none',
                    'placeholder': 'Select breed...',
                    'data-controller':"select2",
                    'data-select2-url-value':"/api/breeds",
                    'data-select2-placeholder-value':"Search for a breed",
                    'data-form-target':'breed',
                    'data-action': '"select2:select"->select2#onSelect "select2:unselect"->select2#onUnselect'
                }
            })
        }}
        </div>
        <div class="relative mb-4 px-8">
            <p class="mb-2 text-gray-600 text-sm font-medium">Choose one</p>
            {% for child in form.breed_choice %}
                <div class="flex items-center mb-4">
                    {{
                        form_widget(child, {
                            'attr': {
                                'class': 'w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600',
                            }
                        })
                    }}
                    {{
                        form_label(child,child.vars.label, {
                            'label_attr': {
                                'class': 'ms-2 text-sm font-medium text-gray-600'
                            }
                        })
                    }}
                </div>
            {% endfor %}
            <div class="flex items-center mt-3">
                {{
                    form_widget(form.breed_other,{
                        attr: {
                            class: 'block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none',
                            placeholder: 'Collie, poodle, lab'
                        }
                    })
                }}
            </div>
        </div>

        <div class="relative mb-4 space-y-2 px-8">
            <p class="text-sm font-medium text-gray-600">What gender are they?</p>
            <div class="inline-flex rounded-md shadow-sm" role="group">
                {% for child in form.sex %}
                    <label class="inline-flex items-center">
                        {{ form_widget(child, {
                            attr: {
                                class: 'hidden peer'
                            }
                        }) }}
                        <span class="px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-200 hover:bg-gray-50 peer-checked:bg-blue-400 peer-checked:text-white peer-checked:border-blue-500 peer-checked:z-10
                            {{ loop.first ? 'rounded-l-lg' : '' }}
                            {{ loop.last ? 'rounded-r-lg' : (not loop.first and not loop.last) ? 'border-l-0' : '' }}
                        ">
                            {{ child.vars.label }}
                        </span>
                    </label>
                {% endfor %}
            </div>
        </div>
        <div class="relative mb-4 space-y-2 px-8">
            <p class="text-sm font-medium text-gray-600">Do you know their date of birth?</p>
            <div class="inline-flex rounded-md shadow-sm" role="group">
                <label class="inline-flex items-center">
                    <input type="radio" name="dob_choice" class="hidden peer" checked>
                    <span class="px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-200 rounded-l-lg hover:bg-gray-50 peer-checked:bg-blue-400 peer-checked:text-white peer-checked:border-blue-500 peer-checked:z-10">
                        Yes
                    </span>
                </label>
                <label class="inline-flex items-center">
                    <input type="radio" name="dob_choice" class="hidden peer">
                    <span class="px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-200 rounded-r-lg hover:bg-gray-50 peer-checked:bg-blue-400 peer-checked:text-white peer-checked:border-blue-500 peer-checked:z-10">
                        No
                    </span>
                </label>
            </div>
        </div>
        <div class="relative mb-4">
            {{
                form_label(form.age,"Approximate Age?",{
                    label_attr: {
                        'class':'flex items-center mb-2 text-gray-600 text-sm font-medium'
                    }
                })
            }}
            {{
                form_widget(form.age, {
                    attr: {
                        class: 'block w-full h-11 px-5 py-2.5 bg-white leading-7 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none',
                    }
                })
            }}
        </div>
        <div class="flex flex-wrap -mx-3 mb-4">
            <div class="w-full md:w-1/3 px-3 mb-4 md:mb-0">
                {{ form_label(form.date_of_birth.month,'Month',{
                    label_attr: {
                        class: 'block tracking-wide text-gray-700 text-sm font-medium mb-2'
                    }
                }) }}
                <div class="relative">
                    {{
                        form_widget(form.date_of_birth.month,{
                            attr: {
                                class: 'block appearance-none w-full border border-gray-200 text-gray-600 text-sm font-medium py-3 px-4 pr-8 h-11 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500'
                            }
                        })
                    }}
                </div>
            </div>
            <div class="w-full md:w-1/3 px-3 mb-4 md:mb-0">
                {{ form_label(form.date_of_birth.day,'Day',{
                    label_attr: {
                        class: 'block tracking-wide text-gray-700 text-sm font-medium mb-2'
                    }
                }) }}
                <div class="relative">
                    {{
                        form_widget(form.date_of_birth.day,{
                            attr: {
                                class: 'block appearance-none w-full border border-gray-200 text-gray-600 text-sm font-medium py-3 px-4 pr-8 h-11 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500'
                            }
                        })
                    }}
                </div>
            </div>
            <div class="w-full md:w-1/3 px-3 mb-4 md:mb-0">
                {{ form_label(form.date_of_birth.year,'Year',{
                    label_attr: {
                        class: 'block tracking-wide text-gray-700 text-sm font-medium mb-2'
                    }
                }) }}
                <div class="relative">
                    {{
                        form_widget(form.date_of_birth.year,{
                            attr: {
                                class: 'block appearance-none w-full border border-gray-200 text-gray-600 text-sm font-medium py-3 px-4 pr-8 h-11 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500'
                            }
                        })
                    }}
                </div>
            </div>
        </div>
        <div class="flex justify-center">
            <button class="w-52 h-11 shadow-sm rounded-md bg-blue-600 hover:bg-blue-800 transition-all duration-700 text-white text-base font-semibold leading-7">Continue</button>
        </div>
    {{ form_end(form) }}
</div>
